#conjuntoLogin{
	position: fixed;
	top:-20px;
	right: 25px;
}
.modal{
	display: none;
	z-index: 1;
	margin-top: -25px;
	padding: 25px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color:#ddd ;
	border-radius: 25px; 
}
/*Boton para cerrar el modal box*/
.close {
    color: #aaa;
    color: black;
    float: right;
	margin-right: 5px; 
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
	color: #aaa;
    text-decoration: none;
    cursor: pointer;
}


#registro,#login{
display: block;
	overflow: auto;
	text-align: center
}

ul{
	display: inline-block;
	list-style: none;
	overflow: hidden;
	max-height: 35px;
}
ul li{
float: left;
padding: 10px;
background-color:#808080;
	border-radius: 20px;
box-shadow: 0 10px 20px rgba(0,0,0,.5);
height:50px;}

.activo{
	background-color: #ddd;
	z-index: 2;
}
#mostrar{
	font-size: 15pt;
	background:#808080;
	padding: 10px;
	border-radius:  10px;
	color: white;
	cursor: pointer;
}