.estructuraNoticia{
  overflow:auto;
  background-color:rgba(255, 255, 255, 0.7);
  width: 70%;
  margin: 0 auto 50px;
  border-radius: 7px 7px 7px 7px;

}
.noticiaDerecha{
  width: 70%;
  float: left;
}
.noticiaIzquierda{
  float: left;
  width: 30%;
}
.tituloNoticia{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 2px;
}

.imgNoticia{
  width: 75%;
  margin-top: 45px;
  margin-left: 20%
}
.fechaNoticia{
  display: inline;
}

.cuerpoNoticia{
  width: 90%;
}
.categoriaNoticia{
  float: right;
  margin-right: 50px ;
}
