.estructuraMiniNoticia{
  overflow:auto;
  background-color:rgba(255, 255, 255, 0.7);
  width: 45%;
  margin-left: 70px;
  margin-bottom: 30px;
  border-radius: 7px 7px 7px 7px;
}
.noticiaMiniDerecha{
  width: 70%;
  float: left;
}
.noticiaMiniIzquierda{
  float: left;
  width: 30%;
}
.tituloMiniNoticia{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 2px;
}

.imgMiniNoticia{
  width: 250px;
  margin-top: 45px;
  margin-left: 20%
}
.fechaMiniNoticia{
  display: inline;
}

.cuerpoMiniNoticia{
  width: 90%;
}
.categoriaMiniNoticia{
  float: right;
  margin-right: 50px ;
}
