.estructuraNoticia{
  overflow:auto; 
  background-color:rgba(1, 102, 255,0.5);
  border:5x solid white;
  border-radius:55px;
  padding-bottom:15px
}
.noticiaDerecha,.noticiaIzquierda{
  display: block;
  max-height: 500px;
}
.noticiaDerecha{
  float: left;
  width: 70%;
}
.noticiaIzquierda{
  max-width: 30%;
  float: left;
  margin-top: 50px;
}
.tituloNoticia{
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 2
}

.imgNoticia{
  width: 90%;
  margin-top: 45px;
  margin-left: 5%
}
.fechaNoticia{
  display: inline;
}

.cuerpoNoticia{
  width: 90%;
}
.categoriaNoticia{
  float: right;
  margin-right: 50px ; 
}


