<html>
  <head>
    <meta charset="UTF-8">
    <title>Login/Sign-In</title>
   <link rel="stylesheet" type="text/css" href="css/styleLog.css">
  </head>


<body>
<div id="derecha">
 <input type="submit" value="Registro">
</div>
<div id="caja">
<p class="margen">
<b>Email</b> <input class="string optional" maxlength="255" placeholder="Email" type="email" size="50" />
</p>

<p class="margen"><b>Password</b> <input class="string optional" maxlength="255" placeholder="Contraseña" type="password" size="50" /></p>

<p class="margen">
	<input type="submit" value="Entrar">
</p>
</div>


</body>
</html>