<html>
	<head>
		<meta charset="utf-8">
		<title>HACKATON POKEMON GO</title>
		<script src="js/myscripts.min"></script>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!---LINKS SCROLL-->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<!--FIN LINKS-->
	<body>
        <div id="barrap">
        <input type="submit" value="LOGIN" id="login">
        </div>
     
<div id="iz"> <!--LOGO-->
<a href="index.html"><IMG class="logo" alt="Logo pokeball" SRC="img/pb.png"></a>	
</div>

 	<div id="contenedor">
 		<input type="submit" value="MYSTYK" id="boton1"> 
 		<input type="submit" value="INSTINCT" id="boton2">
 		<input type="submit" value="VALOR" id="boton3">
	</div>

   <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/pokemon.jpeg" alt="pokemon">
          <div class="carousel-caption">         
        </div>
      </div>

        <div class="item">
          <img src="img/pokemon.jpeg" alt="pokemon">
        <div class="carousel-caption">       
          </div>
            </div>

    <div class="item">
      <img src="img/pokemon.jpeg" alt="pokemon">
      <div class="carousel-caption">
      </div>
    </div>
<div class="item">
      <img src="img/pokemon.jpeg" alt="pokemon">
      <div class="carousel-caption">
      </div>
</div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>

</body>


